// Mixins

@mixin body-font {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin heading-font {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


//========== MIXINS ======= 

@mixin radius($val){
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -ms-border-radius: $val;
    -o-border-radius: $val;
    border-radius: $val;
}
@mixin shadow($val){
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    -ms-box-shadow: $val;
    -o-box-shadow: $val;
    box-shadow:  $val;
}
@mixin transform($val){
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}
@mixin transition($val){
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val;
    transition: $val;
}
@mixin transform-origin($val){
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -ms-transform-origin: $val;
    -o-transform-origin: $val;
    transform-origin: $val;
}
@mixin background-size($val){
    -webkit-background-size: $val;
    -moz-background-size: $val;
    -ms-background-size: $val;
    -o-background-size: $val;
    background-size: $val;
}
@mixin flex(){
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
}
@mixin align-item($val){
    -webkit-align-items: $val;
    -moz-align-items: $val;
    -ms-align-items: $val;
    -o-align-items: $val;
    align-items: $val;
}
@mixin j-content($val){
    -webkit-justify-content: $val;
    -moz-justify-content: $val;
    -ms-justify-content: $val;
    -o-justify-content: $val;
    justify-content: $val;
}
@mixin align-self($val){
    -webkit-align-self: $val;
    -moz-align-self: $val;
    -ms-align-self: $val;
    -o-align-self: $val;
    align-self: $val;
}
@mixin animation($val){
    -webkit-animation: $val ;
    -moz-animation: $val ;
    -ms-animation: $val ;
    -o-animation: $val ;
    animation: $val ;
}
@mixin keyframes($name){
    @-webkit-keyframes $name { @content  }
    @-moz-keyframes $name {  @content  }
    @-ms-keyframes $name {  @content  }
    @-o-keyframes $name { @content  }
    @keyframes $name {  @content  }
}