{% extends 'main_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block content %}
    <div class="content pdt book-content content-page">
        <div class="breadcrumb-wrap">
            <ul class="breadcrumb container">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'content' %}">Content</a></li>
                <li><a href="{% url 'lesson' %}">{{ unit_with_chapter.chapter_no }}</a></li>
                <li><a href="{% url 'word_search' %}">Word Search</a></li>
            </ul>
        </div>
        <div class="container pt-4">
            <div class="chap-header">
                <h3 class="unit"> <span class="bg-set">{{ unit_with_chapter.unit_name }}</span></h3>
                <h1>{{ unit_with_chapter.chapter_no }} : {{ unit_with_chapter.chapter_name }}</h1>
            </div>
            <div class="tab-head">
                <ul class="nav nav-tabs">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'lesson' %}">Lesson plan</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'question_bank' %}">Question bank</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'word_search' %}">Word search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'brain_storm' %}">Brainstorm</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="{% url 'tell_your_teacher' %}">Tell your teacher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'find_out' %}">Find out</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content p-4">
                <section id="tell-teacher" class="p-2">
                    <h3>{{ tell_your_teacher_data.name }}</h3>
                    <p>{{ tell_your_teacher_data.tell_your_teacher|linebreaks }} </p>
                </section>
            </div>


        </div>
    </div>

{% endblock %}